.card {
  flex: 1;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
